.y-sticky {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.y-wrap {
  margin: 0 auto;
  width: 90%;
}

.y-header-mobile {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
